@import 'constants';
.timer {
  background: #f6f6f6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: $dark-blue;
}
